@import '../../../common/variables.scss';

// @mixin caretBlinking {
//   animation-name: blink;
//   animation-duration: 0.5s;
//   animation-timing-function: steps(1);
//   animation-delay: 0s;
//   animation-iteration-count: infinite;
//   animation-direction: alternate;
//   animation-fill-mode: none;
//   animation-play-state: running;
// }
$caretBackgroundColor: lightblue;
$caretColor: black;
$carentWidth: 1.6px;
$caretSizeWidth: 0.6 * $fontSize;
$caretSizeHeight: 1.2 * $fontSize;
$editorLineHeight: 21.4667px;

:root {
  --caret-size-width: #{$caretSizeWidth};
  --caret-size-height: #{$caretSizeHeight};
}

@keyframes blinkInsert {

  from,
  to {
    border-left: $carentWidth solid $caretColor;
  }

  50% {
    border-left: none;
  }
}

@keyframes blinkNormal {

  from,
  to {
    background: $caretBackgroundColor;
  }

  50% {
    background: transparent;
  }
}

@mixin caretBlinking($animationName) {
  animation: 1.3s $animationName step-end infinite;
}

.otn-container {
  display: flex;

  &.mode-NORMAL {
    #caret {
      border: 1px solid black;

      &.caret-blinking {
        @include caretBlinking(blinkNormal);
      }

      &::after {
        content: '.';
        background: red;
        width: 2px;
        display: block;
        z-index: 2;
        position: relative;
      }
    }
  }

  &.mode-INSERT {
    #caret {
      background: transparent;
      border-left: $carentWidth solid $caretColor;

      &.caret-blinking {
        @include caretBlinking(blinkInsert);
      }
    }
  }

  &.mode-VISUAL,
  &.mode-VISUALLINE {
    #caret {
      background: rgba(226, 190, 143, 0.63);
      border: 1px solid black;
    }
  }

  .notes-container {
    height: 50vh;
    width: 60vw;
    position: relative;
    border: 1px solid black;

    input[type='checkbox'] {
      // transform: scale(2);
    }

    .checkbox-label {
      display: block;

      &.checkbox--checked {
        .editor-line {
          text-decoration: line-through;
          color: #635249;
        }
      }
    }

    .editor-line {
      white-space: pre;
      height: $editorLineHeight;
    }

    #caret {
      position: absolute;
      top: 0;
      left: 0;
      height: $caretSizeHeight;
      width: $caretSizeWidth;

      opacity: 0.5;
      // z-index: -1;

      // &.caret-NORMAL {
      //   border: 1px solid black;
      //   &.caret-blinking {
      //     @include caretBlinking(blinkNormal);
      //   }
      //   &::after {
      //     content: '.';
      //     background: red;
      //     width: 2px;
      //     display: block;
      //     z-index: 2;
      //     position: relative;
      //   }
      // }

      // &.caret-INSERT {
      //   background: transparent;
      //   border-left: $carentWidth solid $caretColor;
      //   &.caret-blinking {
      //     @include caretBlinking(blinkInsert);
      //   }
      // }

      // &.caret-VISUAL {
      //   background: rgba(226, 190, 143, 0.63);
      //   border: 1px solid black;
      // }
    }
  }

  .debug-mode-container {
    border: 1px solid black;
    width: 40vw;
  }
}
