$textColor: #333;
$borderColor: $textColor;

$mainPadding: 30px;

.duyAnhMart {
  display: flex;
  padding: 30px;
  background-color: white;
  color: $textColor;

  h3 {
    margin-top: 0;
  }

  .leftContainer {
    width: 50%;
    margin-right: 15px;

    .scannerInput {
      margin-bottom: 20px;
    }

    .productContainer {
      margin-bottom: 40px;
      font-size: 36px;

      .productPriceContainer {
        min-height: 50px;

        .productPrice__notFound {
          font-size: 22px;
        }
      }
    }

    .manageProductsContainer,
    .existingProductContainer {
      &.disabled * {
        opacity: 0.6;
        color: gray;
        cursor: not-allowed;
        pointer-events: none;
      }

      input[type='text'],
      input[type='number'] {
        width: 100px;
      }
    }

    .manageProductsContainer {
      .newlyAddedContainer {
        font-size: 12px;
      }
    }
  }

  .rightContainer {
    width: 50%;

    .sessionContainer {
      padding: 15px;
      border: 1px solid $borderColor;
      width: calc(100% - 30px); // $mainPadding

      .sessionProduct_header {
        display: flex;
        border-bottom: 1px solid $borderColor;
        padding-bottom: 5px;
        margin-bottom: 5px;
      }

      .sessionProduct,
      .sessionProduct_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sessionProduct__price {
          width: 65px;
        }

        .sessionProduct__code,
        .sessionProduct__codeHeader {
          font-size: medium;
        }
      }

      .sessionFooter {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;

        .sessionSum {
          font-size: 28px;
          padding: 5px 15px;
          border-top: 1px solid $borderColor;
        }

        .deleteButtonContainer {
          display: flex;
          align-items: center;

          button {
            height: 30px;
          }
        }
      }
    }
  }
}
