* {
  border: 1px solid black;
  padding: 1px;
}

.active {
  border-color: tomato;
}

.container {
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 15px;

  div {
    width: 80px;
    height: 80px;
  }

}
