.vim-html-connection * {
  border: 1px solid black;
  padding: 1px;
}

.active {
  border-color: tomato !important;
}

.container-sections {
  display: flex;

  .container {
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 15px;
    // width: 50%;

    &.move-mode {
      border: 3px solid yellow;
    }

    p {
      width: 80px;
      height: 80px;
    }
  }
}
