.test-vn-container {
  border: 1px solid black;
  flex-direction: column;

  &.INSERT {
    border-color: red;
  }

  &.NORMAL {
    border-color: green;
  }

  div {
    &::selection {
      background: #006dcc5f;
    }
  }
}
